/* Theme variables */
:root {
  --color-bg: #f7fafd;
  --color-bg-secondary: #fff;
  --color-text: #222;
  --color-primary: #235390;
  --color-accent: #4f8cff;
  --color-border: #e0e6ef;
  --color-card: #fff;
  --color-shadow: 0 2px 12px rgba(79, 140, 255, 0.10);
}

.dark-theme {
  --color-bg: #181c24;
  --color-bg-secondary: #232a36;
  --color-text: #f7fafd;
  --color-primary: #90caf9;
  --color-accent: #1976d2;
  --color-border: #2c3440;
  --color-card: #232a36;
  --color-shadow: 0 2px 16px rgb(58 143 226 / 87%)
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.2s, color 0.2s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
